<!--compose button-->
<button type="button" class="btn btn-primary" (click)="goToNewPage()"  data-bs-dismiss="modal">Compose</button>


<div class="main-div">
    <div class="content">
       
        <div>
            <table mat-table [dataSource]="messages" class="mat-elevation-z8">

                <ng-container  matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                
                <ng-container matColumnDef="subject">
                    <th mat-header-cell *matHeaderCellDef> Subject </th>
                    <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
                </ng-container>
            
                <ng-container matColumnDef="message">
                    <th mat-header-cell *matHeaderCellDef> Message </th>
                    <td mat-cell *matCellDef="let element"> {{element.message}} </td>
                </ng-container>
            
   

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


        </div>
    </div>
</div>