<div class="main-div">
    <div class="content">
        <mat-card>
            <mat-card-content>{{student}}</mat-card-content>
        </mat-card>
        <div class="grades-table">
            <table mat-table [dataSource]="grades" class="mat-elevation-z8">
                <ng-container matColumnDef="course">
                    <th mat-header-cell *matHeaderCellDef> Course </th>
                    <td mat-cell *matCellDef="let element"> {{element.course}} </td>
                </ng-container>
                <ng-container matColumnDef="grade">
                    <th mat-header-cell *matHeaderCellDef> Grade </th>
                    <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
                </ng-container>
                <ng-container *ngIf="ifTeacher()" matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-fab color="primary" (click)="loadCourse(element.ID, element.course, element.grade)" data-bs-toggle="modal" data-bs-target="#editGrade">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-fab color="warn" (click)="deleteGrade(element.ID)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <button *ngIf="ifTeacher()" mat-raised-button color="primary" (click)="clearFields()" data-bs-toggle="modal" data-bs-target="#addGrade">
                Add Grade
            </button>

            <div class="modal fade" id="addGrade" tabindex="-1" aria-labelledby="addGradeModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="addGradeModal">Add Grade</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="grades-container">
                                <mat-form-field appearance="fill">
                                    <mat-label>Course</mat-label>
                                    <mat-select [(ngModel)]="course">
                                        <mat-option *ngFor="let course of courses" [value]="course.name">{{ course.name
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Grade</mat-label>
                                    <input matInput #input maxlength="2" placeholder="Ex. A+" [(ngModel)]="grade">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="insertGrade(course, grade)" data-bs-dismiss="modal">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editGrade" tabindex="-1" aria-labelledby="editGradeModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editGradeModal">Edit Grade</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="grades-container">
                                <mat-form-field appearance="fill">
                                    <mat-label>Course</mat-label>
                                    <mat-select [(ngModel)]="course">
                                        <mat-option *ngFor="let course of courses" [value]="course.name">{{ course.name
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Grade</mat-label>
                                    <input matInput #input maxlength="2" placeholder="Ex. A+" [(ngModel)]="grade">
                                    <input type="hidden" [(ngModel)]="gradeId">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="editGrade(gradeId, course, grade)"  data-bs-dismiss="modal">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>