<div class="main-div">
  <h2>Add New Record</h2>
  <hr>
  <form [formGroup]="composeForm">
    <div class="row">
      <div class="mb-3 col-md-12">
        <label class="form-label" for="newFullName">Full Name: </label>
        <input type="text" class="form-control rounded-0" id="newFullName" formControlName="newFullName" placeholder="Full Name" />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-md-6">
        <label class="form-label" for="newUsername">Username: </label>
        <input type="text" class="form-control rounded-0" id="newUsername" formControlName="newUsername" placeholder="Username" />
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label" for="newEmail">Email: </label>
        <input type="text" class="form-control rounded-0" id="newEmail" formControlName="newEmail" placeholder="Email Address" />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-md-6">
        <label class="form-label" for="newPassword">Password: </label>
        <input type="password" class="form-control rounded-0" id="newPassword" formControlName="newPassword" placeholder="********" />
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label" for="newRole">Role: </label>
        <select class="form-select rounded-0" id="newRole" formControlName="newRole" >
          <option value="1">Student</option>
          <option value="2">Teacher</option>
          <option value="3">Nurse</option>
          <option value="4">Parent</option>
          <option value="5">Admin</option>
        </select>
      </div>
    </div>
    <div class="buttons">
      <button class="btn btn-primary" (click)="insertUser()">Create</button>
      <button class="btn btn-danger" (click)="returnAdminPage()">Cancel</button>
    </div>
  </form>
</div>
