<!-- <p>test</p> -->

  <div class="main-div">
    <div class="content">

        <form class="example-form">
            <mat-form-field class="example-full-width">
            <span matPrefix> </span>
            <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]="searchStudent">
            <button matSuffix mat-button (click)="getStudent(searchStudent)">
                <mat-icon>search</mat-icon>
            </button>
            </mat-form-field>
        </form>
       
        <div class="students-table">
            <table mat-table [dataSource]="studentstable" class="mat-elevation-z8">

                <ng-container  matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container  matColumnDef="student_id">
                    <th mat-header-cell *matHeaderCellDef> Student Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
                </ng-container>

                
                <ng-container  matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-card-title mat-icon-button color="primary" >
                            <a href="/profile/{{element.id}}"><i class="bi bi-arrow-right"></i></a>
                        </mat-card-title>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


        </div>
    </div>
</div> 