<div class="main-div">
  <mat-card class="example-card dashboardCard">
    <mat-card-header class="cardImage">
      <mat-card-title><a href="/news"><i class="fa-solid fa-newspaper fa-2xl"></i></a></mat-card-title>
    </mat-card-header>
    <mat-card-content class="cardContent">
      News
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card dashboardCard" *ngIf="hasStudentAccess()">
    <mat-card-header class="cardImage">
      <mat-card-title><a href="/profiles"><i class="fa-solid fa-magnifying-glass fa-2xl"></i></a></mat-card-title>
    </mat-card-header>
    <mat-card-content class="cardContent">
      Student Search
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card dashboardCard">
    <mat-card-header class="cardImage">
      <mat-card-title><a href="/inbox/{{ id }}"><i class="fa-solid fa-mail-bulk fa-2xl"></i></a></mat-card-title>
    </mat-card-header>
    <mat-card-content class="cardContent">
      Inbox
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card dashboardCard" *ngIf="isAdmin()">
    <mat-card-header class="cardImage">
      <mat-card-title><a href="/admin/main"><i class="fa-solid fa-gear fa-2xl"></i></a></mat-card-title>
    </mat-card-header>
    <mat-card-content class="cardContent">
      Admin
    </mat-card-content>
  </mat-card>
</div>
